.productlist-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.productlist-container .categorylist-breadcrumb {
	width: 100%;
	height: 50px;
	background-color: #f7f7f7;
	border-bottom: 1.2px solid #e5e5e5;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.productlist-container .categorylist-breadcrumb .breadcrumb-menu {
	width: 100%;
	max-width: 1700px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.productlist-container .catalogue {
	width: 100%;
	max-width: 1700px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.productlist-container .catalogue .card-list-container {
	width: calc(100% - 320px);
}

.productlist-container .catalogue .filter {
	width: 300px;
}

.filter-mob-button-container {
	position: sticky;
	bottom: 20px;
	width: 100%;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.filter-mob-button-container button {
	width: 150px;
	height: 40px;
	border-radius: 20px;
	background-color: #000;
	color: #fff;
	font-size: 16px;
}

.mobile-filter-container {
	width: 100%;
}

.mobile-filter-container::-webkit-scrollbar {
	width: 0;
}

@media (max-width: 1024px) {
	.productlist-container .catalogue {
		width: 95%;
	}
	.productlist-container .catalogue .card-list-container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.productlist-container .categorylist-breadcrumb .breadcrumb-menu {
		width: 90%;
	}

	.productlist-container .categorylist-breadcrumb .breadcrumb-menu .bd-menu-stats {
		display: none !important;
	}
	.productlist-container .catalogue {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.productlist-container .catalogue .filter {
		display: none;
	}

	.filter-mob-button-container {
		display: flex;
	}
}

@media (max-width: 375px) {
	.productlist-container .catalogue .card-list {
		padding: 0;
	}
	.productlist-container .catalogue .card-list-container {
		width: 100%;
	}
}
